service firebase.storage {
  match /b/{bucket}/o {
    match /users/{user_id}/img/{img_id} {
      allow read: if true;
      allow update, delete, create: if request.auth.uid == user_id;
    }
  }
}
